
<div *ngIf="cours">
    <h2><span>Cours</span> {{cours.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{cours.nom}}</span>
        </dd>
        <dt><span>Date Debut</span></dt>
        <dd>
            <span>{{cours.dateDebut | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Date Fin</span></dt>
        <dd>
            <span>{{cours.dateFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <div *ngIf="cours.description">
                <a [routerLink]="['/description', cours.description?.id]">{{cours.description?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cours/'+ cours.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
